body {
  height: 98vh;
  width: 98vw;
}
.editProfile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f8f8f8;
  width: 100%;
  height: 98vh;
  gap: 1vw;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.headerOpt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.headerIcon {
  height: fit-content;
  width: fit-content;
}
img {
  height: 2vh;
  width: 2vh;
  padding: 1vh;
}
.headerText {
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
  font-family: Acme;
  color: #000000;
}
.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  width: 100%;
}
.profilePic {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 5px solid #5dc3ef;
  margin: 1vh;
}
.infoBase {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  width: 50vw;
  border-radius: 0.5rem;
  gap: 2vh;
}

.divUsername {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  height: fit-content;
  width: 100%;
  background-color: #ffffff;
  border: 0.0625rem solid #5dc3ef;
  padding: 1vh;
}
.divIcon {
  display: flex;
  align-items: center;
}
.icon {
  width: 3vh;
  height: 3vh;
}
.line {
  height: 5vh;
  width: 0.0011px;
  padding: 0;
  border: 0.0625rem solid #5dc3ef;
}
.input {
  border: 0;
  text-align: left;
  vertical-align: middle;
  font-size: 3vh;
  font-family: Acme;
  letter-spacing: 0.03125rem;
  line-height: auto;
  color: rgba(0, 0, 0, 0.30000001192092896);
  width: 100%;
  height: 5vh;
  padding-left: 1vw;
}
.input:focus {
  outline: 0;
}
.clientInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.625rem;
  width: 100%;
  gap: 2.5rem;
}
.emailaddress {
  width: 90%;
  height: fit-content;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffffff;
  border: 0.0625rem solid #5dc3ef;
  padding: 1vh;
}

.adress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1vw;
  gap: 2.5rem;
  width: fit-content;
  height: fit-content;
}
.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: fit-content;
  width: 40vw;
  gap: 2rem;
}
