@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
.app {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 10px;
}
.logo {
  margin: 10px;
  width: 60%;
  height: 90vh;
  background: url("../../images/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
  position: relative;

  border: 1px solid rgba(0, 0, 0, 1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.signUp {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 10px;
  background-color: #e8e8e8;
  border: 3px solid #dadada;
  height: 90%;
  width: 30%;
}
.lbl {
  display: flex;
  margin: 10px;
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.15000000596046448px;
  line-height: auto;
  color: #333333;
}
.all{
  margin-bottom: 0;
}
.inputBox {
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;

  border: 1px solid #5dc3ef;
  border-radius: 8px;
  padding: 0.5vh;
}

.inputContent {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 1px;
  gap: 2vh;
}

.divIcon {
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 24px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 8px;
}

.inputIcon {
  margin: 15%;

  height: 24px;
  width: 24px;
}

.inputline {
  transform: rotate(-91deg);
  align-self: center;
}
.input:focus{
  border: 0 none;
  outline: 0;
}
.input {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 4px;
  margin: 5px;
  gap: 10px;
  border: 0;
  width: 100%;
  font-family: "Acme", sans-serif;
}
.logText{
  color: #5dc3ef;
  font-size: 45px;
  letter-spacing: 6px;
  font-family: "Acme", sans-serif;
  -webkit-text-stroke-width: 0.5px;
-webkit-text-stroke-color: #000;
}
.text {
  display: flex;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5vh;
  font-family: "Acme", sans-serif;
  letter-spacing: 0.5px;
  color: black;
}

.switch {
  position: relative;
  display: flex;
  width: 65px;
  height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5dc3ef;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.toggleType {
  margin: 2px;
  height: 1%;
  display: flex;
  width: max-content;
  flex-direction: row;
  align-items: center;
}
.toggleText {
  font-family: "Acme", sans-serif;
  margin: 10px;
  font-size: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 30px;
  margin: 5px;
  background-color: black;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #5dc3ef;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5dc3ef;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

.signinbtn {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 8%;

  position: static;
  width: 50%;
  height: 6vh;

  /* blueTech */

  background: #5dc3ef;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex-grow: 0;
}
.signinbtn:hover{
  transition: background 0.5s linear;
  background: #429fc7;
}
