@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
html{
	overflow-y:hidden;
	overflow-x:hidden;
}
body{
	width: 100vw;
	height: 100vh;
	background: #F8F8F8;
	display: flex;
}
.app{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 98vw;
	height: 10vh;
	padding: 2vh;
	align-items: center;
	
	
}
.pageTitle{
	margin-left: -6vw;
	font-family: "Acme", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 3vw;
	height: fit-content;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1em;
	width: 40vw;
	
}
.profile{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 40vw;
}
.username{
	width: fit-content;
	font-family: Acme;
font-style: normal;
font-weight: normal;
font-size: 2vw;
line-height: 32px;
display: flex;
align-items: center;
letter-spacing: -0.165px;
margin: 0px 20px;
}
.divPic{
	margin: 1vw;
	width: fit-content;
	height: fit-content;
}
.profilePic{
	width: 6vw;
	height: 6vw;
}
.iconOut{
	width: 9vh;
	height: 9vh;
}
.logoutText{
	width: fit-content;
	height: fit-content;
	margin: 0;	
}
.logOut{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: fit-content;
	font-size: 3vh;
	font-family: Acme;
}
.content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 90vh;

}
.serviceTitle{
	font-size: 3.5vh;
}
.serviceDescription{
	font-size: 2.5vh;
}

.services{
	display: flex;
	flex-direction: column;
	background: rgba(93, 195, 239, 0.5);
	border-radius: 2vw;
	width: 40vw;
	height: 80vh;
	margin: 1vh;
	align-items: center;
}
.cancelText{
	margin:0;
	font-size: 1.5vw;
}

.cancelIcon{
	margin: 2px;
	width: 4vw;
	height: 4vw;
}
.cancel{
	margin: 1vw;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: fit-content;
}
.soliciteds{
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 40vw;
	gap: 2vh;
	height: 100%;
	align-items: center;
	margin: 1vw;
}
.service{
	padding: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-radius: 2vw;
	background: white;
	margin: 10px;

	width: 35vw;
	height: fit-content;
}
.desc{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.newServicebtn{
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	
	background-color: #333333;
	border: 1px solid #5dc3ef;

	width: fit-content;
  height: 5vh;
  padding: 1vh;
	margin: 1vh;
}
.newService{
	text-decoration: none;
	text-align: center;
	font-size: 5vh;
	font-family: Acme;
	color: #5dc3ef;
	width: fit-content;
}
.servLogo{
	width: 5vw;
	height: 5vw;
	margin: 2vh;
	
}

p{
	font-family: Acme;
}
.information{
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 2vw;
	width: 45vw;
	height: 80vh;
	display: flex;
	padding: 1vh;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.info{
	display: flex;
	font-size: 32px;
	margin: 0;
}
.infoBox{
	
	display: flex;
	padding: 2vh;
	flex-direction: column;
	justify-content: space-between;
	align-items: center; 
	font-family: acme;
	width: 100%;
	height: 100%;
}
.divArea{
	width: 95%;
	height: 3vh;
	display: flex;
	flex-direction: row;
	margin: 0%;
	padding: 2px;
	resize: none;
	align-items: center;
	overflow-y: hidden;
}
.input{
	overflow-y: hidden;
	height: 2vh;
	width: 100%;
	font-family: Acme; 
	font-size: 2vh;
	background: #F4F6F9;
	border: 0;
}

.label{
	
	position:relative;
	width: fit-content;
	height:	fit-content;
	left: 15px;
	top: -10px;
	background: #5dc3ef80;
	font-size: 2vh;
	border-radius: 20px;
}
.divText{
	width: 100%;
	background: #F4F6F9;
	border-radius: 20px;
	margin-bottom: 2vh;
}
.textIcon{
	width: 3vh;
	height: 3vh;
}

.buttonProfile{
	border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1vh;
  background-color: #5dc3ef;
  width: fit-content;
  height: 5vh;
  font-family: acme;
  font-size: 5vh;
  border: 1px solid black;
}
