@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
body{
	background: #F8F8F8;
}
.app{
	width: 100%;
	height: 100%;
	
}
.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: 10%;
	padding: 5px;
	align-items: center;
}
.pageTitle{
	font-family: "Acme", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	height: fit-content;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.1em;
	width: 100%;
	margin-left: 10px;
}
.profile{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
}
.username{
	font-family: Acme;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 32px;
display: flex;
align-items: center;
letter-spacing: -0.165px;
margin: 0px 20px;
}
.divPic{
	width: fit-content;
	height: fit-content;
}
.profilePic{
	width: 60px;
	height: 60px;
}
.icon{
	width: 10vh;
	height: 10vh;
}
.logOut{
	display: flex;
	flex-direction: row;
	margin: 0px 20px;
	
	width: fit-content;
	font-size: 20px;
	font-family: Acme;
}
html{
	overflow-y:hidden;
	overflow-x:hidden;
}
.content{
	display: flex;
	flex-direction: row;
	gap: 5vh;
	align-items: center;
	width: 100%;
	height: 90%;
	margin-left: 5%;
}
.serviceTitle{
	font-size: 25px
}
.serviceDescription{
	font-size: 20px;
}

.services{
	display: flex;
	flex-direction: column;
	background: rgba(93, 195, 239, 0.5);
	border-radius: 21px;
	width: 50%;
	height: 90%;
	align-items: center;
	
	
}
.cancel{
	margin: 10px;

}
.soliciteds{
	
	margin: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 95%;
	gap: 2vh;
	height: 80%;
	align-items: center;
}
.service{
	padding: 1vh;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-radius: 25px;
	background: white;
	margin: 0px;
	width: 100%;
}
.desc{
	width: 100%;
}
.newServicebtn{
	border-radius: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	padding: 10px;
	background-color: #333333;
	border: 1px solid #5dc3ef;
	width: 50%; 
}
.newService{
	text-decoration: none;
	text-align: center;
	font-size: 32px;
	font-family: Acme;
	color: #5dc3ef;
	padding: 10px;
}
.servLogo{
	width: fit-content;
	height: fit-content;
	margin: 2vh;
	
}

p{
	font-family: Acme;
	
}
.information{
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 20px;
	width: 40%;
	height: 90%;
}
