.8_75 { 
	overflow:hidden;
}
.e8_75 { 
	background-color:rgba(248.0000004172325, 248.0000004172325, 248.0000004172325, 1);
	width:1288px;
	height:748px;
	position:absolute;
}
.e207_1893 { 
	width:1281.23095703125px;
	height:93.78710174560547px;
	position:absolute;
	left:6.768955230712891px;
	top:24px;
}
.e207_1875 { 
	width:1281.23095703125px;
	height:93.78710174560547px;
	position:absolute;
	left:0px;
	top:0px;
}
.e47_8 { 
	width:90px;
	height:90px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/whatsapp_image_2021_11_17_at_10_12_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e8_101 { 
	color:rgba(38.0000015348196, 1.0000000591389835, 1.0000000591389835, 1);
	width:797px;
	height:93.78710174560547px;
	position:absolute;
	left:138px;
	top:0px;
	font-family:Acme;
	text-align:left;
	font-size:35px;
	letter-spacing:-0.16500000655651093;
}
.e205_1759 { 
	width:234px;
	height:88px;
	position:absolute;
	left:983px;
	top:0px;
}
.e66_1315 { 
	color:rgba(38.0000015348196, 1.0000000591389835, 1.0000000591389835, 1);
	width:139px;
	height:78px;
	position:absolute;
	left:5px;
	top:5px;
	font-family:Acme;
	text-align:left;
	font-size:25px;
	letter-spacing:-0.16500000655651093;
}
.e66_1314 { 
	border-radius:500px;
	width:80px;
	height:80px;
	position:absolute;
	left:149px;
	top:4px;
	background-image:url(images/profile_picture.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.66_1314 { 
	border:5px solid rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
}
.e205_1758 { 
	width:497px;
	height:587px;
	position:absolute;
	left:7px;
	top:112px;
}
.e207_1771 { 
	width:424.25px;
	height:535px;
	position:absolute;
	left:36.375px;
	top:26px;
}
.e66_1217 { 
	width:424px;
	height:117px;
	position:absolute;
	left:0.25px;
	top:0px;
}
.e66_1211 { 
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:117px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e66_1212 { 
	color:rgba(38.0000015348196, 1.0000000591389835, 1.0000000591389835, 1);
	width:268px;
	height:25px;
	position:absolute;
	left:100px;
	top:17px;
	font-family:Acme;
	text-align:left;
	font-size:20px;
	letter-spacing:-0.16500000655651093;
}
.e66_1213 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:242px;
	height:55px;
	position:absolute;
	left:100px;
	top:53px;
	font-family:Acme;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.16500000655651093;
}
.e112_1853 { 
	background-color:rgba(0, 0, 0, 1);
	width:68px;
	height:65.21312713623047px;
	position:absolute;
	left:13px;
	top:25.893442153930664px;
}
.e241_2399 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:367.75px;
	top:61px;
}
.e112_1964 { 
	width:424px;
	height:118px;
	position:absolute;
	left:0px;
	top:139px;
}
.e112_1965 { 
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:118px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e112_1966 { 
	color:rgba(38.0000015348196, 1.0000000591389835, 1.0000000591389835, 1);
	width:185px;
	height:25px;
	position:absolute;
	left:100px;
	top:17px;
	font-family:Acme;
	text-align:left;
	font-size:20px;
	letter-spacing:-0.16500000655651093;
}
.e112_1967 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:242px;
	height:55px;
	position:absolute;
	left:100px;
	top:53px;
	font-family:Acme;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.16500000655651093;
}
.e112_1822 { 
	background-color:rgba(0, 0, 0, 1);
	width:50px;
	height:67.70491790771484px;
	position:absolute;
	left:24px;
	top:29.016393661499023px;
}
.e66_1216 { 
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:367.5px;
	top:68px;
}
.e241_2391 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:367.25px;
	top:59px;
}
.e241_2398 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:-269.75px;
	top:435px;
}
.e241_2397 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:-269.75px;
	top:435px;
}
.e112_1972 { 
	width:424px;
	height:117px;
	position:absolute;
	left:0.25px;
	top:279px;
}
.e112_1973 { 
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:117px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e112_1974 { 
	color:rgba(38.0000015348196, 1.0000000591389835, 1.0000000591389835, 1);
	width:225px;
	height:25px;
	position:absolute;
	left:100px;
	top:17px;
	font-family:Acme;
	text-align:left;
	font-size:20px;
	letter-spacing:-0.16500000655651093;
}
.e112_1975 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:242px;
	height:55px;
	position:absolute;
	left:100px;
	top:53px;
	font-family:Acme;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.16500000655651093;
}
.e112_1978 { 
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:368px;
	top:62.33606719970703px;
}
.e112_1982 { 
	background-color:rgba(0, 0, 0, 1);
	width:63px;
	height:58.5px;
	position:absolute;
	left:18px;
	top:28.770490646362305px;
}
.e241_2389 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:367.75px;
	top:66px;
}
.e112_1983 { 
	width:424px;
	height:117px;
	position:absolute;
	left:0.25px;
	top:418px;
}
.e112_1984 { 
	box-shadow:0px 4px 10px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:424px;
	height:117px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e112_1985 { 
	color:rgba(38.0000015348196, 1.0000000591389835, 1.0000000591389835, 1);
	width:184px;
	height:25px;
	position:absolute;
	left:100px;
	top:17px;
	font-family:Acme;
	text-align:left;
	font-size:20px;
	letter-spacing:-0.16500000655651093;
}
.e112_1986 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:242px;
	height:55px;
	position:absolute;
	left:100px;
	top:53px;
	font-family:Acme;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.16500000655651093;
}
.e112_1993 { 
	background-color:rgba(0, 0, 0, 1);
	width:50px;
	height:47.95082092285156px;
	position:absolute;
	left:27px;
	top:35.483604431152344px;
}
.e241_2390 { 
	background-color:rgba(255, 255, 255, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:383.75px;
	top:66px;
}
.e241_2396 { 
	background-color:rgba(0, 0, 0, 1);
	width:40px;
	height:38.36064910888672px;
	position:absolute;
	left:370.75px;
	top:64px;
}
.e107_1321 { 
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 0.5);
	width:353px;
	height:587px;
	position:absolute;
	left:931px;
	top:140px;
	border-top-left-radius:21px;
	border-top-right-radius:21px;
	border-bottom-left-radius:21px;
	border-bottom-right-radius:21px;
}
.e110_1354 { 
	box-shadow:0px 10px 60px rgba(0, 0, 0, 0.11999999731779099);
	background-color:rgba(255, 255, 255, 1);
	width:313px;
	height:69px;
	position:absolute;
	left:20px;
	top:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.110_1354 { 
	border:0.800000011920929px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e110_1355 { 
	font-family: 'Acme', sans-serif;
	height:39px;
	position:absolute;
	left:15px;
	top:15px;
}
.e110_1356 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:6.5px;
}
.e110_1357 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1358 { 
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1359 { 
	background-color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:26px;
	height:26px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1360 { 
	background-color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:19.50628662109375px;
	height:19.50628662109375px;
	position:absolute;
	left:3.2499964237213135px;
	top:3.2499964237213135px;
}
.e110_1361 { 
	color:rgba(0, 0, 0, 0.20000000298023224);
	width:181px;
	height:28px;
	position:absolute;
	left:44.5px;
	top:5.5px;
	font-family:Montserrat;
	text-align:left;
	font-size:16px;
	letter-spacing:-0.30000001192092896;
}
.110_1349 { 
	font-family: 'Acme', sans-serif;9px solid rgba(0, 0, 0, 1);
}
.e110_1349 { 
	width:39px;
	height:39px;
	position:absolute;
	left:244px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e110_1350 { 
	width:29px;
	height:29px;
	position:absolute;
	left:5px;
	top:5px;
}
.e110_1351 { 
	width:29px;
	height:29px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1352 { 
	transform: rotate(180deg);
	background-color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:29px;
	height:29px;
	position:absolute;
	left:29px;
	top:29px;
}
.e110_1353 { 
	background-color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:14.514013290405273px;
	height:14.511950492858887px;
	position:absolute;
	left:7.242919921875px;
	top:7.2451171875px;
}
.e207_1892 { 
	width:313px;
	height:152.5px;
	position:absolute;
	font-family: 'Acme', sans-serif;
	top:99px;
}
.e110_1362 { 
	color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:299px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1371 { 
	width:310px;
	height:79px;
	position:absolute;
	left:0px;
	top:29px;
}
.e110_1372 { 
	width:308px;
	height:32px;
	position:absolute;
	left:5px;
	top:5px;
}
.e110_1373 { 
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:85px;
	height:32px;
	position:absolute;
	left:0px;
	top:9.5367431640625e-7px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1373 { 
	border:0.800000011920929px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e110_1374 { 
	width:75px;
	height:22.000001907348633px;
	position:absolute;
	left:5px;
	top:4.999999046325684px;
}
.e110_1375 { 
	width:75px;
	height:22.000001907348633px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1376 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:43px;
	height:17px;
	position:absolute;
	left:0px;
	top:2.5000009536743164px;
	font-family:Montserrat;
	font-family: 'Acme', sans-serif;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1377 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:75px;
	top:9.616505849407986e-7px;
}
.e110_1378 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1379 { 
	transform: rotate(-89.99999749552195deg);
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:-22.000000961650542px;
	top:21.999999038349458px;
}
.e110_1380 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:11.010631561279297px;
	height:11.009065628051758px;
	position:absolute;
	left:-5.49623322662805px;
	top:5.494628666002026px;
}
.e110_1381 { 
	background-color:rgba(255, 255, 255, 1);
	width:106px;
	height:32px;
	position:absolute;
	left:95px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1381 { 
	border:0.800000011920929px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e110_1382 { 
	width:96px;
	height:22.000001907348633px;
	position:absolute;
	left:5px;
	top:4.999999046325684px;
}
.e110_1383 { 
	width:96px;
	height:22.000001907348633px;
	position:absolute;
	left:0px;
	top:0px;
}font-family: 'Acme', sans-serif;
.e110_1384 { 
	color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:64px;
	height:17px;
	position:absolute;
	left:0px;
	top:2.5000009536743164px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1385 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:96px;
	top:9.616505849407986e-7px;
}
.e110_1386 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1387 { 
	transform: rotate(-89.99999749552195deg);
	background-color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:-22.000000961650542px;
	top:21.999999038349458px;
}
.e110_1388 { 
	transform: rotate(135.0000000896416deg);
	background-color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:11.010631561279297px;
	height:11.009065628051758px;
	position:absolute;
	left:-3.2157323400057862px;
	top:10.999390461547712px;
}
.e110_1389 { 
	background-color:rgba(255, 255, 255, 1);
	width:97px;
	height:32px;
	position:absolute;
	left:211px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1389 { 
	border:0.800000011920929px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e110_1390 { 
	width:87px;
	height:22.000001907348633px;
	position:absolute;
	font-family: 'Acme', sans-serif;
	top:4.999999046325684px;
}
.e110_1391 { 
	width:87px;
	height:22.000001907348633px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1392 { 
	color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:55px;
	height:17px;
	position:absolute;
	left:0px;
	top:2.5000009536743164px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1393 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:87px;
	top:9.616505849407986e-7px;
}
.e110_1394 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1395 { 
	transform: rotate(-89.99999749552195deg);
	background-color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:-22.000000961650542px;
	top:21.999999038349458px;
}
.font-family: 'Acme', sans-serif;
	transform: rotate(135.0000000896416deg);
	background-color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:11.010631561279297px;
	height:11.009065628051758px;
	position:absolute;
	left:-3.2157323400057862px;
	top:10.999390461547712px;
}
.e110_1397 { 
	background-color:rgba(255, 255, 255, 1);
	width:106px;
	height:32px;
	position:absolute;
	left:5px;
	top:42px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1397 { 
	border:0.800000011920929px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e110_1398 { 
	width:96px;
	height:22.000001907348633px;
	position:absolute;
	left:5px;
	top:5px;
}
.e110_1399 { 
	width:96px;
	height:22.000001907348633px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1400 { 
	color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:64px;
	height:17px;
	position:absolute;
	left:0px;
	top:2.5000009536743164px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1401 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:96px;
	font-family: 'Acme', sans-serif;7px;
}
.e110_1402 { 
	transform: rotate(90.00000250447808deg);
	width:22px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1403 { 
	transform: rotate(-89.99999749552195deg);
	background-color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:22px;
	height:22px;
	position:absolute;
	left:-22.000000961650542px;
	font-family: 'Acme', sans-serif;x;
}
.e110_1404 { 
	transform: rotate(90.00000250447808deg);
	background-color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:11.010631561279297px;
	height:11.009065628051758px;
	position:absolute;
	left:-5.49623322662805px;
	top:5.494628666002026px;
}
.font-family: 'Acme', sans-serif;
	width:177px;
	height:18px;
	position:absolute;
	left:0px;
	top:112px;
}
.e110_1370 { 
	color:rgba(50.000000819563866, 38.0000015348196, 81.00000277161598, 1);
	width:159px;
	height:15px;
	position:absolute;
	left:0px;
	top:1.5px;
	font-family:Montserrat;
	text-align:left;
	font-size:12px;
	letter-spacing:-0.30000001192092896;
}
.e110_1405 { 
	width:18px;
	height:18px;
	position:absolute;
	left:159px;
	top:0px;
}
.e110_1406 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1407 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1408 { 
	background-color:rgba(50.000000819563866, 38.0000015348196, 81.00000277161598, 1);
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1409 { 
	background-color:rgba(50.000000819563866, 38.0000015348196, 81.00000277161598, 1);
	width:12px;
	height:15.000049591064453px;
	position:absolute;
	left:3px;
	top:1.5px;
}
.e110_1410 { 
	background-color:rgba(50.000000819563866, 38.0000015348196, 81.00000277161598, 1);
	width:5.250001907348633px;
	height:5.250001907348633px;
	position:absolute;
	left:6.374998092651367px;
	top:4.5px;
}
.e207_1890 { 
	width:313px;
	height:78px;
	position:absolute;
	left:20px;
	font-family: 'Acme', sans-serif;
}
.e110_1363 { 
	color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:299px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e207_1889 { 
	width:313px;
	height:25px;
	position:absolute;
	left:0px;
	top:28px;
}
.e110_1368 { 
	color:rgba(50.000000819563866, 38.0000015348196, 81.00000277161598, 0.75);
	width:15px;
	height:25px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1369 { 
	color:rgba(50.000000819563866, 38.0000015348196, 81.00000277161598, 0.75);
	width:61px;
	height:25px;
	position:absolute;
	left:252px;
	top:0px;
	font-family:Montserrat;
	text-align:right;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e110_1411 { 
	width:313px;
	height:22px;
	position:absolute;
	left:0px;
	top:56px;
}
.e110_1412 { 
	transform: rotate(-0.000005985143169362571deg);
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:311.3262023925781px;
	height:0px;
	position:absolute;
	left:1.6738144159317017px;
	top:11px;
}
.110_1412 { 
	border:2px solid rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
}
.e110_1413 { 
	width:95.32881927490234px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.e110_1414 { 
	transform: rotate(-0.000005008956538086317deg);
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:77.83155059814453px;
	height:0px;
	position:absolute;
	left:0px;
	top:14px;
}
.110_1414 { 
	border:5px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e110_1415 { 
	border-radius:500px;
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:18.41176414489746px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
}
.110_1415 { 
	border:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e110_1416 { 
	font-family: 'Acme', sans-serif;
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:18.41176414489746px;
	height:22px;
	position:absolute;
	left:76.91702270507812px;
	top:0px;
}
.110_1416 { 
	border:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e205_1760 { 
	width:313px;
	height:152.5px;
	position:absolute;
	left:20px;
	top:349.5px;
}
.e110_1364 { 
	color:rgba(35.00000171363354, 39.00000147521496, 56.000000461936, 1);
	width:299px;
	height:25px;
	position:absolute;
	left:7px;
	top:15.75px;
	font-family:Montserrat;
	text-align:left;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
.e207_1888 { 
	width:300px;
	height:91px;
	position:absolute;
	left:6.5px;
	top:45.75px;
}
.e110_1423 { 
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:97px;
	height:91px;
	position:absolute;
	left:0px;
	font-family: 'Acme', sans-serif;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1423 { 
	border:0.800000011920929px solid rgba(0, 0, 0, 1);
}
.e110_1424 { 
	width:77px;
	height:71px;
	position:absolute;
	left:10px;
	top:10px;
}
.e114_1707 { 
	width:50px;
	height:50px;
	position:absolute;
	left:13.5px;
	top:0px;
}
.e114_1700 { 
	width:43.147525787353516px;
	height:41.66666793823242px;
	position:absolute;
	left:3.426236152648926px;
	top:4.1666669845581055px;
}
.114_1701 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e114_1701 { 
	width:43.147525787353516px;
	height:28.933334350585938px;
	position:absolute;
	left:0px;
	top:12.733330726623535px;
}
.114_1702 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e114_1702 { 
	width:18.333335876464844px;
	height:25.462501525878906px;
	position:absolute;
	left:3.240427017211914px;
	top:0px;
}
.114_1703 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e114_1703 { 
	width:4.166666030883789px;
	height:0px;
	position:absolute;
	left:19.490432739257812px;
	top:35.41666793823242px;
}
.114_1704 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e114_1704 { 
	font-family: 'Acme', sans-serif;px;
	height:5.893749237060547px;
	position:absolute;
	left:27.465435028076172px;
	top:5.891670227050781px;
}
.114_1705 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e114_1705 { 
	width:7.163700103759766px;
	height:7.163701057434082px;
	position:absolute;
	left:32.08713912963867px;
	top:0px;
}
.114_1706 { 
	border:1.5px solid rgba(0, 0, 0, 1);
}
.e114_1706 { 
	width:7.061298370361328px;
	height:7.061298370361328px;
	position:absolute;
	left:21.57376480102539px;
	top:10.615788459777832px;
}
.e110_1434 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:96px;
	height:22px;
	position:absolute;
	font-family: 'Acme', sans-serif;
	top:50px;
	font-family:Montserrat;
	text-align:center;
	font-size:10px;
	letter-spacing:-0.30000001192092896;
}
.e110_1435 { 
	background-color:rgba(255, 255, 255, 1);
	width:96px;
	height:91px;
	position:absolute;
	left:102px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1435 { 
	border:0.800000011920929px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e110_1436 { 
	width:101px;
	height:72px;
	font-family: 'Acme', sans-serif;
	left:-2.5px;
	top:9.5px;
}
.e114_1698 { 
	width:50px;
	height:50px;
	position:absolute;
	left:25.5px;
	top:0px;
}
.e114_1697 { 
	background-color:rgba(0, 0, 0, 1);
	width:33.333335876464844px;
	height:45.83333206176758px;
	position:absolute;
	left:8.333333015441895px;
	top:2.0833334922790527px;
}
.e110_1444 { 
	color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:101px;
	height:22px;
	position:absolute;
	left:0px;
	top:50px;
	font-family:Montserrat;
	text-align:center;
	font-size:10px;
	letter-spacing:-0.30000001192092896;
}
.e110_1445 { 
	background-color:rgba(255, 255, 255, 1);
	width:97px;
	height:91px;
	position:absolute;
	left:203px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1445 { 
	border:0.800000011920929px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e114_1713 { 
	width:50px;
	height:50px;
	position:absolute;
	left:23.5px;
	top:9.5px;
}
.e114_1709 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.166664123535156px;
	height:4.166666030883789px;
	position:absolute;
	left:16.666667938232422px;
	top:25px;
}
.e114_1710 { 
	background-color:rgba(0, 0, 0, 1);
	width:4.166669845581055px;
	height:4.166666030883789px;
	position:absolute;
	left:29.16666603088379px;
	top:25px;
}
.e114_1711 { 
	background-color:rgba(0, 0, 0, 1);
	width:24.988744735717773px;
	height:13.4375px;
	position:absolute;
	left:12.511255264282227px;
	top:12.5px;
}
.e114_1712 { 
	background-color:rgba(0, 0, 0, 1);
	width:41.66666793823242px;
	height:37.5px;
	position:absolute;
	left:4.1666669845581055px;
	top:6.25px;
}
.e110_1446 { 
	width:97px;
	height:22px;
	position:absolute;
	left:0px;
	top:59.5px;
}
.e110_1457 { 
	color:rgba(107.00000122189522, 109.00000110268593, 129.00000751018524, 1);
	width:97px;
	height:22px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Montserrat;
	text-align:center;
	font-size:10px;
	letter-spacing:-0.30000001192092896;
}
.e207_1887 { 
	width:313px;
	height:55px;
	position:absolute;
	left:20px;
	top:512px;
}
.e110_1612 { 
	box-shadow:0px -5px 60px rgba(0, 0, 0, 0.25);
	background-color:rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
	width:206px;
	height:55px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1612 { 
	border:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e110_1613 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:61px;
	height:24px;
	position:absolute;
	left:72.5px;
	top:15.5px;
	font-family:Montserrat;
	text-align:center;
	font-size:20px;
	letter-spacing:-0.30000001192092896;
}
.e110_1610 { 
	box-shadow:0px -5px 60px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:97px;
	height:55px;
	position:absolute;
	left:216px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.110_1610 { 
	border:1px solid rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
}
.e110_1611 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:62px;
	height:17px;
	position:absolute;
	left:17.5px;
	top:19px;
	font-family:Montserrat;
	text-align:center;
	font-size:14px;
	letter-spacing:-0.30000001192092896;
}
