.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 27px 31px;

  position: static;
  width: 385px;
  height: 588px;
  left: 883px;
  top: 80px;

  background: linear-gradient(180deg, #ffffff -13.59%, #f4f4f4 100%);
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 24px 24px 0px 0px;

  .loginDiv {
    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 20px;
  }
}
