@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  background: #f8f8f8;
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vh;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 3vh;
}
.logo {
  width: 60vw;
  height: 90vh;
  background: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 24px;
  margin-right: 5%;
}
.signUp {
  border-radius: 20px 20px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 3vh;
  background: linear-gradient(180deg, #ffffff -13.59%, #f4f4f4 100%);
  border: 1px solid #dedada;
  height: fit-content;
  width: 30vw;
}

.lbl {
  display: flex;
  margin: 1vh;
  padding: 1vh;
  text-align: center;
  vertical-align: bottom;
  font-size: 3vh;
  font-family: 'Acme', sans-serif;
  letter-spacing: 0.15000000596046448px;
  line-height: auto;
  color: #333333;
}
.all {
  margin-bottom: 0;
  padding-top: 1vh;
}
.inputBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 2vh;
}
.inputContent {
  padding: 0.5vh;
  margin: 0.5vh;

  background-color: #ffffff;
  border: 1px solid #5dc3ef;
  border-radius: 8px;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 2vh;
}
.divIcon {
  padding: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 24px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 8px;
}
.inputIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  margin: 5px;
}
img {
  position: relative;
  margin: 1vh;
  height: 24px;
  width: 24px;
}
.inputline {
  transform: rotate(-91deg);
  align-self: center;
}
.input:focus {
  border: 0 none;
  outline: 0;
}

.input {
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 4px;
  margin: 5px;
  gap: 10px;
  border: 0;
  width: 100%;
  font-size: 2vh;
  font-family: 'Acme', sans-serif;
}
.signinbtn {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 8%;

  position: static;
  width: 45%;
  height: 10vh;

  /* blueTech */

  background: #5dc3ef;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside Auto Layout */

  flex-grow: 0;
}
