body {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100vh;
  padding: 0;
}
.app {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 5%;
}
.logo {
  width: 110vh;
  height: 90vh;
  background: url('../images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 24px;
  margin-right: 5%;
}
.signUpDiv {
  width: 30vw;
  border-radius: 24px 24px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 20px;
  gap: 10px;
  background-color: linear-gradient(180deg, #ffffff -13.59%, #f4f4f4 100%);
  border: 1px solid black;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.lbl {
  display: flex;
  margin: 10px;
  text-align: center;
  vertical-align: bottom;
  font-size: 20px;
  font-family: 'Acme', sans-serif;
  letter-spacing: 0.15000000596046448px;
  line-height: auto;
  color: #333333;
}
.inputBox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 7px 10px;
  height: fit-content;
  gap: 10px;
}
.inputContent {
  border-radius: 8px;
  border: 1px solid #5dc3ef;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 4px 4px;
  gap: 10px;
}
.divIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100%;
  width: fit-content;
  background-color: #ffffff;
}
.inputIcon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  margin: 5px;
}
img {
  position: relative;
  margin: 1vh;
  height: 24px;
  width: 24px;
}
.inputline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  transform: rotate(-91deg);
  width: 40px;
  height: 100vh;
  border: 2px solid #5dc3ef;
}
.input:focus {
  border: 0 none;
  outline: 0;
}

.input {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: left;
  vertical-align: middle;
  font-size: 16px;
  font-family: Inter;
  letter-spacing: 0.5px;
  line-height: auto;
  color: rgba(0, 0, 0, 0.30000001192092896);
  border: 0;
}
