
.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: fit-content;
  height: fit-content;
  padding: 3vh;
}
.loginBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3vh;

  position: relative;
  width: 30vw;
  height: fit-content;

  background: linear-gradient(180deg, #ffffff -13.59%, #f4f4f4 100%);
  border: 1px solid #dedada;

  border-radius: 24px 24px 0px 0px;
}
.logo {
  width: 60vw;
  height: 90vh;
  background: url('../../images/logo.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 24px;
  margin-right: 5%;
}

.lbl {
  position: relative;
  width: fit-content;
  height: fit-content;

  font-family: Acme, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;
  line-height: 32px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;
  letter-spacing: 0.15px;

  /* Main Text Color */

  color: #333333;

  /* Inside Auto Layout */
}
.inpExter {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1vh;

  width: 100%;
  height: fit-content;

  background: #ffffff;

  border: 1px solid #5dc3ef;
  box-sizing: border-box;
  border-radius: 8px;

  flex: none;

  flex-grow: 0;
  margin: 2vh;
}
.input {
  /* Email */

  position: relative;
  width: 100%;
  height: max-content;

  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vh;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  /* Hint Text Color */

  color: rgba(0, 0, 0, 0.3);

  /* Inside Auto Layout */

  border: 0;
  flex-grow: 1;
}
.input:focus{
  outline: 0;
}
.loginButton {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  width: 70%;
  height: fit-content;
  background-color: #5dc3ef;
  border: 1px solid #333333;
}
.loginText {
  text-align: left;
  vertical-align: bottom;
  font-size: 2.5vh;
  font-family: 'Acme', sans-serif;
  letter-spacing: 2.25px;
  color: #333333;
  height: fit-content;
  width: fit-content;
  margin: 1vh;
}
.socialLogin {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  height: fit-content;
}
.socialBtn {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  height: fit-content;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.30000001192092896);
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 1vh;
  width: fit-content;
}

img {
  height: 3vh;
  width: 3vh;
  background-color: #ffffff;
  margin: 1vh;
}
.img {
  height: 4vh;
  width: 4vh;
  background-color: #ffffff;
  margin-right: 1vh;
}
.text {
  text-align: right;
  vertical-align: bottom;
  font-size: 15px;
  font-family: Acme;
  letter-spacing: 1.25px;
  line-height: auto;
  color: #333333;
  width: 100%;
}
.orText {
  text-align: right;
  vertical-align: bottom;
  font-size: 15px;
  font-family: Acme;
  letter-spacing: 1.25px;
  line-height: auto;
  color: #333333;
  width: 100%;
  margin: 30px;
}

.separator {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin: 2vh;
  height: 1vh;
}
.socialText {
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  line-height: 18px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;

  color: #000000;

  /* Inside Auto Layout */
}
.withoutAccount {
  text-align: center;
  font-size: 3vh;
  font-family: 'Acme', sans-serif;
  letter-spacing: 0.25px;
  border: 0;
  width: 60%;
  background: #f4f4f4;
  height: fit-content;
}
.signUp {
  color: #5dc3ef;
}
