
html{
	overflow-y:hidden;
	overflow-x:hidden;
}

body {
  width: 100vw;
	height: 100vh;
	background: #F8F8F8;
	display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98vw;
  height: 10vh;
  padding: 2vh;
  align-items: center;
}
.pageTitle {
  margin-left: -6vw;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  width: 40vw;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40vw;
}
.username {
  width: fit-content;
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: -0.165px;
  margin: 0px 20px;
}
.divPic {
  margin: 1vw;
  width: fit-content;
  height: fit-content;
}
.profilePic {
  width: 6vw;
  height: 6vw;
}
.icon {
  background-color: rgba(
    248.0000004172325,
    248.0000004172325,
    248.0000004172325,
    1
  );
  width: 10vh;
  height: 10vh;
  transform: rotate(-90deg);
}
.logOut {
  display: flex;
  flex-direction: row;

  align-items: center;
  width: fit-content;
  font-size: 2vw;
  font-family: Acme;
}
.pageContent {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display :flex;
  flex-direction: row;

}
.inputs {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
  width: 50vw;
  height: 90vh;
  position: relative;
  left: 3px;
  margin-top: 5vh;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 10vh;
  position: relative;
  left: 0px;
  top: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.inputContent {
  border: 2px solid
    rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 48.00199890136719px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.form-control {
  font-family: 'Acme', sans-serif;
  font-size: 19px;
  min-width: 100%;
  min-height: 48.00199890136719px;
  border-radius: 5px;
  border: 0;
}


.divLabel {
  font-family: 'Acme', sans-serif;
  height: 20px;
  position: absolute;
  left: 16px;
  top: -20px;
}
.inputLabel {
  color: rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
  width: 10vw;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -5px;
  font-family: 'Acme', sans-serif;
  text-align: left;
  font-size: 15px;
  letter-spacing: 0;
}


.divDescricao {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45vw;
  height: 35vh;
  
}
.desc{
  left: -10;
}
.divContent {
  width: 45vw;
  font-family: 'Acme', sans-serif;
  position: absolute;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
 .borderBlue{ 
  background-color: rgba(255, 255, 255, 1);
  width: 45vw;
  height: 35vh;
  font-family: 'Acme', sans-serif;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid
    rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
}
.mytext {
  position: relative;
  border: 0;
  width: 45vw;

  height: 35vh;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: 'Acme', sans-serif;
  font-size: 4vh;
  text-align: top;
}
.message {
  color: rgba(9.000000413507223, 16.000000946223736, 29.000000171363354, 1);
  opacity: 0.6000000238418579;
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 1vw;
  font-family: Acme;
  text-align: left;
  font-size: 2.5vh;
  letter-spacing: 0;
}

.divRight {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  width: 50vw;
  height: 60vh;
  margin-top: 5vh;
}
.divFinal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 45vw;
  font-family: 'Acme', sans-serif;
}

.date {
  
  width: 20vw;
  
}


.spanDate {
  width: 150px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0.0010000000474974513px;
}
.divDate {
  color: rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
  width: 145px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -5px;
  text-align: left;
  font-size: 13px;
  font-family: Acme;
  letter-spacing: 0;
}

.divCalendar {
  width: 100%;
  height: 100%;
  position: relative;
}
.dateTime{
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 5px;

}
.ei64_839_61_255_61_173 {
  color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  opacity: 0.800000011920929;
  width: 96px;
  height: 24px;
  position: absolute;
  font-family: 'Acme', sans-serif;
  top: 0px;
  text-align: left;
  font-size: 16px;
  letter-spacing: 0;

}
.ei64_839_61_255_61_174 {
  width: 288px;
  height: 0.0010000000474974513px;
  position: relative;
  left: 16px;
  top: 48.000999450683594px;
}
.ei64_839_61_255_61_175 {
  width: 24px;
  height: 24px;
  position: relative;
  left: 266px;
  top: -36px;
}



.divSolicitar {
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 20vw;
  height: 12vh;
  position: relative;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
}


.bunttonSolicitar {
  color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width: fit-content;
  position: absolute;
  margin: 1vh;
  font-family: Acme;
  text-align: center;
  font-size: 4vh;
  letter-spacing: 10;
}
.e61_69 {
  background-color: rgba(255, 255, 255, 1);
  
  height: 420px;
  position: absolute;
  left: 636px;
  top: 133px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.e61_73 {
  background-color: rgba(
    51.00000075995922,
    51.00000075995922,
    51.00000075995922,
    1
  );
  width: 639px;
  height: 417px;
  position: absolute;
  left: 12px;
  top: 1px;
  border-radius: 26px;
}
.e61_74 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  background-color: rgba(
    54.50625121593475,
    219.00038212537766,
    229.49999392032623,
    0
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 228px;
  top: 160px;
}
.e61_74 {
  border: 1px solid
    rgba(244.3749949336052, 224.01041328907013, 243.56040984392166, 1);
}
.e61_75 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 200px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_76 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 200px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_77 {
  border-radius: 500px;
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 228px;
  top: 259px;
}
.e61_78 {
  border-radius: 500px;
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 45px;
  top: 210px;
}
.e61_79 {
  border-radius: 500px;
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 45px;
  top: 259px;
}
.e61_80 {
  border-radius: 500px;
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 45px;
  top: 309px;
}
.e61_81 {
  border-radius: 500px;
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 45px;
  top: 359px;
}
.e61_82 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 200px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_83 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 200px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_84 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 200px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_85 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 476px;
  top: 120px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_86 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 568px;
  top: 121px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_87 {
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 473px;
  top: 77px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_91 {
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 92px;
  height: 28px;
  position: absolute;
  left: 119px;
  top: 52px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e61_92 {
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 119px;
  top: 73px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_93 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 17px;
  top: 120px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_94 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 109px;
  top: 120px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_95 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 201px;
  top: 120px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_96 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 292px;
  top: 120px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_97 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 384px;
  top: 120px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_98 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 296px;
  top: 79px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_99 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 28px;
  position: absolute;
  left: 296px;
  top: 56px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e61_100 {
  color: rgba(255, 255, 255, 0.699999988079071);
  width: 92px;
  height: 28px;
  position: absolute;
  left: 473px;
  top: 49px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 20px;
  letter-spacing: 0;
}
.e61_101 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 18px;
  position: absolute;
  left: 0px;
  top: 18px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 9px;
  letter-spacing: 0;
}
.e61_103 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  background-color: rgba(
    54.50625121593475,
    219.00038212537766,
    229.49999392032623,
    0
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 45px;
  top: 160px;
}
.e61_103 {
  border: 1px solid
    rgba(244.3749949336052, 224.01041328907013, 243.56040984392166, 1);
}
.e61_109 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 17px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_110 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 17px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_111 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 17px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_112 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 17px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_113 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 17px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_114 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 568px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_115 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 568px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_116 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 568px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_117 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 568px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_118 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 568px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_119 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 473px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_120 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 473px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_121 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 473px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_122 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 473px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_123 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 473px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_124 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 384px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_125 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 384px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_126 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 384px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_127 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 384px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_128 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 384px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_129 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  background-color: rgba(
    54.50625121593475,
    219.00038212537766,
    229.49999392032623,
    0
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 320px;
  top: 160px;
}
.e61_129 {
  border: 1px solid
    rgba(244.3749949336052, 224.01041328907013, 243.56040984392166, 1);
}
.e61_130 {
  border-radius: 500px;
  background-color: rgba(
    54.50625121593475,
    219.00038212537766,
    229.49999392032623,
    0
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 500px;
  top: 160px;
}
.e61_130 {
  border: 1px solid
    rgba(244.3749949336052, 224.01041328907013, 243.56040984392166, 1);
}
.e61_131 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 292px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_132 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 292px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_133 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 292px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_134 {
  border-radius: 500px;
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 320px;
  top: 309px;
}
.e61_135 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 292px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_136 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 292px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_137 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 500px;
  background-color: rgba(
    54.50625121593475,
    219.00038212537766,
    229.49999392032623,
    0
  );
  width: 37px;
  height: 37px;
  position: absolute;
  left: 137px;
  top: 160px;
}
.e61_137 {
  border: 1px solid
    rgba(244.3749949336052, 224.01041328907013, 243.56040984392166, 1);
}
.e61_138 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 109px;
  top: 171px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_139 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 109px;
  top: 221px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_140 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 109px;
  top: 270px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_141 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 109px;
  top: 320px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;
}
.e61_142 {
  color: rgba(255, 255, 255, 1);
  width: 92px;
  height: 15px;
  position: absolute;
  left: 109px;
  top: 370px;
  font-family: 'Acme', sans-serif;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0;

}
