html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body {
  width: 100vw;
  height: 100vh;
  background: #f8f8f8;
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98vw;
  height: 10vh;
  padding: 2vh;
  align-items: center;
}
.pageTitle {
  margin-left: -6vw;
  font-family: 'Acme', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  height: fit-content;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1em;
  width: 40vw;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 40vw;
}
.username {
  width: fit-content;
  font-family: Acme;
  font-style: normal;
  font-weight: normal;
  font-size: 2vw;
  line-height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: -0.165px;
  margin: 0px 20px;
}
.divPic {
  margin: 1vw;
  width: fit-content;
  height: fit-content;
}
.profilePic {
  width: 6vw;
  height: 6vw;
}
.icon {
  background-color: rgba(
    248.0000004172325,
    248.0000004172325,
    248.0000004172325,
    1
  );
  width: 9vh;
  height: 9vh;
  transform: rotate(-90deg);
}
.logOut {
  display: flex;
  flex-direction: column;
  border: 0;
  background-color: rgba(
    248.0000004172325,
    248.0000004172325,
    248.0000004172325,
    1
  );

  align-items: center;
  width: fit-content;
  font-size: 2vw;
  font-family: Acme;

  align-items: center;
  width: fit-content;
  font-size: 3vh;
  font-family: Acme;
}
.pageContent {
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.inputs {
  margin-left: 1vw;
  margin-right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
  width: 47vw;
  height: 100%;
  position: relative;
  left: 3px;
  margin-top: 5vh;
}

.inputDiv {
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 10vh;
  position: relative;
  left: 0px;
  top: 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.inputContent {
  border: 2px solid
    rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 48.00199890136719px;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.form-control {
  font-family: 'Acme', sans-serif;
  font-size: 19px;
  min-width: 100%;
  min-height: 48.00199890136719px;
  border-radius: 5px;
  border: 0;
}

.divLabel {
  font-family: 'Acme', sans-serif;
  height: fit-content;
  position: absolute;
  left: 0.5vw;
  top: -2vh;
}
.inputLabel {
  color: rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
  width: 10vw;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -2vh;
  font-family: 'Acme', sans-serif;
  text-align: left;
  font-size: 1.2vw;
  letter-spacing: 0;
}

.divDescricao {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 45vw;
  height: 33vh;
}
.desc {
  left: -10;
}
.divContent {
  width: 45vw;
  font-family: 'Acme', sans-serif;
  position: absolute;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.borderBlue {
  background-color: rgba(255, 255, 255, 1);
  width: 45vw;
  height: 33vh;
  font-family: 'Acme', sans-serif;
  left: 0px;
  top: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 2px solid
    rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
}
.mytext {
  position: relative;
  border: 0;
  width: 45vw;

  height: 33vh;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-family: 'Acme', sans-serif;
  font-size: 4vh;
  text-align: top;
}
.message {
  color: rgba(9.000000413507223, 16.000000946223736, 29.000000171363354, 1);
  opacity: 0.6000000238418579;
  width: fit-content;
  height: fit-content;
  position: relative;
  left: 0.3vw;
  font-family: Acme;
  text-align: left;
  font-size: 2.5vh;
  letter-spacing: 0;
}

.divRight {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  width: 50vw;
  height: 63vh;
  margin-top: 5vh;
}
.divFinal {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
  width: 45vw;
  font-family: 'Acme', sans-serif;
}

.date {
  width: 20vw;
}

.spanDate {
  width: 150px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0.0010000000474974513px;
}
.divDate {
  color: rgba(93.00000965595245, 195.1999792456627, 239.00000095367432, 1);
  width: 145px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: -5px;
  text-align: left;

  font-family: Acme;
}

.divCalendar {
  width: 100%;
  height: 100%;
  position: relative;
}
.dateTime {
  height: 100%;
  width: 100%;
  border: 0;
  border-radius: 5px;

  font-size: 3vh;
}

.divSolicitar {
  background-color: rgba(
    93.00000965595245,
    195.1999792456627,
    239.00000095367432,
    1
  );
  width: 20vw;
  height: 13vh;
  position: relative;

  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 1);
}

.bunttonSolicitar {
  color: rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
  width: fit-content;
  position: absolute;
  margin: 1vh;
  font-family: Acme;
  text-align: center;
  font-size: 4.5vh;
  letter-spacing: 10;
}
